<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="http://localhost:8000/style.css">
</head>
<body>
    <div class='container'>
        <form method='post' action='/ExecuteRound'>
            <input class='hidden' type="text" hidden value='<%=t_id%>' name='t_id'>
            <input type="text" placeholder="Enter round no." name='round'>
            <button type="submit">Execute Round</button>
        </form>
    </div>
    <div>
        <form method='get' action='/logout'>
        <div style="padding-top: 0px" class='container'>
            <label>
                <button class='logout' type="submit">logout</button>
            </label>
        </div>
        </form>
    </div>
</body>
</html>
