<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="style.css">
    <title></title>
</head>
<body>
    <div>
        <header>
            <h1>Tournament</h1>
        </header>
    </div>

    <div>
        <p style="color: green">    Tournament created successfully!!!</p>
        <form method='get' action='/viewTournament'>
        <div class='container'>
            <h3>View tournaments</h3>
            <label>
                <button type="submit">View</button>
            </label>
        </div>
        </form>
    </div>
    <div>
        <form method='get' action='/logout'>
        <div style="padding-top: 0px" class='container'>
            <label>
                <button class='logout' type="submit">logout</button>
            </label>
        </div>
        </form>
    </div>
</body>
</html>
