<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  <form method='post' action="/logIn">
  <div class="container">
    <div>
        <p style="color: green">Registration Successfull</p>
        <p>Login to continue!!</p>
    </div>
    <label><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="user_name" required>

    <label><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="pswd" required>
    <button type="submit">Login</button>
  </div>
  <div>
    <form method='get' action='/logout'>
      <div style="padding-top: 0px" class='container'>
        <label>
          <button class='logout' type="submit">logout</button>
        </label>
      </div>
    </form>
  </div>
</form>
</body>
</html>
