<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <table class="table table-striped table-bordered">
       <thead>
           <tr>
           <th>PlayerID</th>
           <th>Name</th>
           <th>Wins</th>
           <th>Matches</th>
       </tr>
       </thead>
        <tbody>
            <% for(let i=0; i<data.length; i++){%>
                <tr>
                    <td><%=data[i].id%></td>
                    <td><%=data[i].name%></td>
                    <td><%=data[i].wins%></td>
                    <td><%=data[i].matches%></td>
                </tr>
            <%}%>
        </tbody>
    </table>
    <div>
        <form method='get' action='/logout'>
        <div style="padding-top: 0px" class='container'>
            <label>
                <button class='logout' type="submit">logout</button>
            </label>
        </div>
        </form>
    </div>
</body>
</html>
