<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <form method='post' action='/Play'>
            <input type="text" hidden value='<%=t_id%>' name='t_id'>
            <button type="submit">Add Player</button>
            <hr>
    </form>
    <form method='post' action='/Execute'>
            <input type="text" hidden value='<%=t_id%>' name='t_id'>
            <button type="submit">Execute Round</button>
            <hr>
    </form>
    <form method='post' action='/showStanding'>
            <input type="text" hidden value='<%=t_id%>' name='t_id'>
            <button type="submit">Show standing</button>
            <hr>
    </form>
</body>
</html>
