<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="http://localhost:8000/style.css">
</head>
<body>
    <header>
        <h2>Your tournaments</h2>
    </header>
    <div class = 'container'>
        <h3>Click to view</h3>
        <% for(let i=0; i<data.length; i++){%>
        <form method='post' action='/individualTournament'>
                <input class='hidden' type="text" hidden value='<%=data[i].id%>' name='t_id'>
                <label>
                    <button type="submit"><%=data[i].name%></button>
                </label>
        </form>
    <%}%>
    </div>
    <div>
        <form method='get' action='/logout'>
        <div style="padding-top: 0px" class='container'>
            <label>
                <button class='logout' type="submit">logout</button>
            </label>
        </div>
        </form>
    </div>
</body>
</html>
