<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <% for(let i=0; i<data.length; i++){%>
        <form method='post' action='/individualTournament'>
                <input type="text" hidden value='<%=data[i].id%>' name='t_id'>
                <button type="submit"><%=data[i].name%></button>
                <hr>
        </form>
    <%}%>
</body>
</html>
